---
title: "GIF and Wave"
type: experiment
---

<% content_for :assets do %>
	<%= stylesheet_link_tag "gif-css" %>
<% end %>


<!-- <h1><%= current_page.data.title %></h1> -->
<%= javascript_include_tag 'osc-siren-test' %>
