---
title: "Oscillator gif"
type: experiment
---

<% content_for :assets do %>
	<%= stylesheet_link_tag "gif-css" %>
<% end %>


<!-- <h1><%= current_page.data.title %></h1> -->
<%= partial "partials/angular_audio_ctrl_sebastian" %>