.relative{
  position: absolute;
  height:100%;
  width:100%;
}
.fret-contain{
  min-height: 400px;
  height: 80vh;
  max-height: 800px;
  min-width: 400px;
  width: 80vh;
  max-width: 800px;
  border:thin solid red;
  position: relative;
  .fret{
    &.horizontal{
      width:100%;
      height:10%;
      border-bottom: 1px solid black;
    }
    &.vertical{
      width:10%;
      height:100%;
      border-right: 1px solid black;
      float:left;
    }
    &:hover{
      border-width: 3px;
    }
  }
}

a.square{
 background-color: #555;
 color: white;
 padding: 5px;
 margin: 5px;
}

.tone-button{
  box-sizing: border-box;
  border:thin solid green;
  float:left;
  transition: background-color 0.5s;
  &.active{
    background-color:green;
  }
}
