---
title: Index
---

  <ul>
    <% data.experiments.each_index do |i| %>
        <% data.experiments[i][:members].each_index do |j| %>
          <li>
            <h2><%= "#{i+1}.#{j+1} - #{data.experiments[i][:members][j][:name]}" %></h2>

          </li>
        <% end %>
    <% end %>
  </ul>

