---
title: Index
---


  <ul>
    <% sitemap.resources.each do |r|
        next unless r.metadata[:page]["type"] == "experiment"

    %>

		<li><%= link_to r.metadata[:page]["title"],  r.url %></li>
	<% end %>
  </ul>

